.navbar{
    background-color: white !important;
}

.font-color, .userName{
    color: black !important;
    font-size: larger;
    font-weight: 450;
}

.login-btn{
    border: 1px solid black;
    border-radius: 4px;
    color: black !important;
}

.login-btn:hover{
    background-color: black;
    color: white !important;
}



.cool-link {
    display: inline-block;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #40461C;
    transition: width .4s;
    margin-top: 3px;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .4s;
}