.navbar{
    background-color: white !important;
}

.font-color, .userName{
    color: black !important;
    font-size: larger;
    font-weight: 450;
}

.login-btn{
    border: 1px solid black;
    border-radius: 4px;
    color: black !important;
}

.login-btn:hover{
    background-color: black;
    color: white !important;
}